@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~react-image-gallery/styles/css/image-gallery.css";

body {
  overflow-x: hidden;
}

input {
  border: none;
}

.bordered-input {
  border: 2px red;
}
