@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~react-image-gallery/styles/css/image-gallery.css";

body {
  overflow-x: hidden;
}

input,
textarea {
  border: none;
}

.bordered-input {
  border: 2px red;
}

[data-filled-within="true"] {
  box-shadow: none !important;
  border: none !important;
}

body {
  @apply font-sans;
}
